<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Created</title>
</head>
<body>
    <h3>Congratulations! <%= @passenger.name %> </h3>
    <p>You have successfully created your booking! </p>
</body>
</html>